<html>
<head>
    <title>Add User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post" action="/user/addUser">
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" placeholder="type login"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="type password"/>
    <br/>
    <label for="repeatpassword">Repeat Password:</label>
    <input type="password" id="repeatpassword" name="repeatpassword" placeholder="type password again"/>
    <br/>
    <br/>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="type name"/>
    <br/>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" placeholder="type surname"/>
    <br/>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="type email"/>
    <br/>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" placeholder="type phone"/>
    <br/>
    <label for="birthdate">Birthday:</label>
    <input type="text" id="birthdate" name="birthdate" placeholder="type birthday"/>
    <br/>
    <br/>
    <input type="submit" value="send"/>
</form>
</body>
</html>