<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generate database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Generate database with following parameters:</h1>
<br/>
<br/>
<form method="post" action="/generateDatabase">
    <label for="userNum">Number of users:</label>
    <input type="text" id="userNum" name="userNum" placeholder="type number of users"/>
    <br/>
    <label for="friendshipNum">Number of friendships:</label>
    <input type="text" id="friendshipNum" name="friendshipNum" placeholder="type number of friendships"/>
    <br/>
    <label for="postNum">Number of posts:</label>
    <input type="text" id="postNum" name="postNum" placeholder="type number of posts"/>
    <br/>
    <label for="likeNum">Number of likes:</label>
    <input type="text" id="likeNum" name="likeNum" placeholder="type number of likes"/>
    <br/>
    <br/>
    <input type="submit" value="send"/>
</form>
</body>
</html>

